<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.renosyahputra.pdfbrowserlibrary">

    <application>
        <activity android:name=".pdfBrowserActivity.PdfBrowserActivity">
        </activity>
    </application>

</manifest>